$background-color: #1f1f1f;
$border-color: #00ffae;
$text-color: #ffffff;
$contact-color: #ff007f;

$profile-background-color: #161616;
$profile-border-color: #00ffae;
$profile-text-color: #00ffae;
$profile-contact-color: #ff007f;

$overview-background-color: #161616;
$overview-border-color: #00ffae;
$overview-text-color: #ffffff;

$weather-background-color: #161616;
$weather-border-color: #00ffae;
$weather-text-color: #ff007f;

$themes-background-color: #161616;
$themes-border-color: #00ffae;
$themes-text-color: #00ffae;
$themes-emotions-container-background-color: #212121;