$background-color: #171717;
$border-color: #ffcc00;
$text-color: #ffffff;
$contact-color: #ff5733;

$profile-background-color: #101010;
$profile-border-color: #ffcc00;
$profile-text-color: #ffcc00;
$profile-contact-color: #ff5733;

$overview-background-color: #101010;
$overview-border-color: #ffcc00;
$overview-text-color: #ffffff;

$weather-background-color: #101010;
$weather-border-color: #ffcc00;
$weather-text-color: #ff5733;

$themes-background-color: #101010;
$themes-border-color: #ffcc00;
$themes-text-color: #ffcc00;
$themes-emotions-container-background-color: #1a1a1a;