$background-color: #022220;
$border-color: #03201c;
$text-color: rgb(77, 130, 123);
$contact-color: rgb(15, 95, 93);

$profile-background-color: $background-color;
$profile-border-color: $border-color;
$profile-text-color: $text-color;
$profile-contact-color: $contact-color;

$overview-background-color: $background-color;
$overview-border-color: $border-color;
$overview-text-color: $text-color;

$weather-background-color: $background-color;
$weather-border-color: $border-color;
$weather-text-color: $text-color;

$themes-background-color: $background-color;
$themes-border-color: $border-color;
$themes-text-color: $text-color;
$themes-emotions-container-background-color: $background-color;
$player-background-color: $background-color;
$player-text-color: $text-color;
$player-border-color: $border-color;
$privacy-background-color: $background-color;
$privacy-text-color: $text-color;
$privacy-border-color: $border-color;
$motto-background-color: $background-color;
$motto-text-color: $text-color;
$motto-border-color: $border-color;
