$background-color: #2c2333;
$border-color: #251d2a;
$text-color: #8c7a8c;
$contact-color: #a393a3;

$profile-background-color: $background-color;
$profile-border-color: $border-color;
$profile-text-color: $text-color;
$profile-contact-color: $contact-color;

$overview-background-color: $background-color;
$overview-border-color: $border-color;
$overview-text-color: $text-color;

$weather-background-color: $background-color;
$weather-border-color: $border-color;
$weather-text-color: $text-color;

$themes-background-color: $background-color;
$themes-border-color: $border-color;
$themes-text-color: $text-color;
$themes-emotions-container-background-color: $background-color;


$player-background-color: $background-color;
$player-text-color: $text-color;
$player-border-color: $border-color;