$background-color: #022220;
$border-color: #03201c;
$text-color: rgb(77, 130, 123);
$contact-color: rgb(53, 182, 178);

$profile-background-color: $background-color;
$profile-border-color: $border-color;
$profile-text-color: $text-color;
$profile-contact-color: $contact-color;