@use '../themes/variables.scss';

.clock-container {
padding: 10px;
  background-color: variables.$motto-background-color;
  border-radius: 15px;
  border: solid 3px variables.$motto-border-color;
}

.clock-text {
    letter-spacing: 1px;
    font-size: 30px;
  font-weight: 500;
}
