@use "../themes/variables.scss";

.player-container {
  background-color: variables.$player-background-color;
  border: solid 3px variables.$player-border-color;
  padding: 20px;
  border-radius: 25px;
}

.player-header {
  color: variables.$player-text-color;
  font-size: 19px;
  font-weight: 800;
}

.player-source {
  font-size: 14px;
  margin-left: 20px;
}

.current-playing-info {
  margin-top: 8px;
  font-size: 13px;
  font-weight: 500;
}

.player-song-name {
  font-size: 17px;
  padding: 5px 0px;
  font-weight: 500;
}

.player-artist-name {
  font-size: small;
  font-weight: 400;
}

.player-progress-bar {
  padding: 10px 15px;
  margin: 1px 0px;
}

.player-progress-bar trough {
  background-color: variables.$player-text-color;
  border: solid 2px variables.$player-border-color;
  border-radius: 5px;
}

.player-progress-bar trough .left {
  background-color: variables.$player-background-color;
}

.player-current-position,
.player-end-position {
  font-size: 12px;
  font-weight: bolder;
  font-weight: 700;
}

.player-controls {
  font-size: 13px;
}

.control {
  border-radius: 10px;
  font-weight: 700;
  margin-right: 5px;
  background-size: contain;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  padding: 5px;
  background-color: rgba(variables.$player-text-color, 1);
}

.prev {
  background-image: url("./assets/player/previous.png");
}

.pause {
  background-image: url("./assets/player/pause.png");
}

.play {
  background-image: url("./assets/player/play.png");
}

.next {
  background-image: url("./assets/player/next.png");
}

