@use "../themes/variables.scss";


.privacy-controls-container {
  background-color: variables.$privacy-background-color;
  border: solid 3px variables.$privacy-border-color;
  padding: 20px;
  border-radius: 25px;
}

.privacy-header {
  font-size: 20px;
  font-weight: 800;
}

.main-controls-container {
    margin-top: 15px;
}

.privacy-control {
  font-weight: 700;
  margin-right: 5px;
  background-size: 30px 30px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: solid 1px variables.$privacy-text-color;
  background-blend-mode: multiply;
  background-color: rgba(variables.$player-text-color, 1);
}

.speaker-mute {
  background-image: url("./assets/privacy/speaker-off.png");
}

.speaker-unmute {
  background-image: url("./assets/privacy/speaker-on.png");
}

.mic-mute {
  background-image: url("./assets/privacy/muted.png");
  background-size: 35px 35px;
}

.mic-unmute {
  background-image: url("./assets/privacy/unmuted.png");
}

.bluetooth-on {
  background-image: url("./assets/privacy/bluetooth-on.png");
}

.bluetooth-off {
  background-image: url("./assets/privacy/bluetooth-off.png");
}

.wifi-on {
  background-image: url("./assets/privacy/wifi-on.png");
  background-size: 30px 30px;
}

.wifi-off {
  background-image: url("./assets/privacy/wifi-off.png");
}
