@use '../themes/variables.scss';

.profile-container {
  background-color: variables.$profile-background-color;
  border-radius: 15px;
  border: solid 3px variables.$profile-border-color;
  .profile-image {
    // border-radius: 50%;
    margin-right: 100px;
    margin-left: 100px;
    background-image: url("./assets/luffy.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile-content {
    padding: 20px;
  }

  .profile-header {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .profile-bio {
    font-size: 16px;
    font-weight: 600;
  }

  .profile-contact {
    font-size: 14px;
    margin-top: 10px;
    color: variables.$profile-text-color;
    color: variables.$profile-contact-color;
    letter-spacing: 1px;
    font-weight: 400;
  }
}
