@use '../themes/variables.scss';

.profile-container {
  background-color: variables.$profile-background-color;
  border-radius: 15px;
  animation-name: hide-profile, show-profile;
  animation-duration: 1s, 1s;
  animation-delay: 0s, 1s, 2s;
  border: solid 3px variables.$profile-border-color;
  .profile-image {
    border-radius: 50%;
    border: solid 5px variables.$profile-border-color;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-image: url("./assets/luffy.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .profile-content {
    padding: 20px;
  }

  .profile-header {
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .profile-bio {
    font-size: 16px;
    font-weight: 600;
  }

  .profile-contact {
    font-size: 14px;
    margin-top: 10px;
    color: variables.$profile-text-color;
    color: variables.$profile-contact-color;
    letter-spacing: 1px;
    font-weight: 400;
  }
}

@keyframes hide-profile {
  from {
    margin-top: 600px;
  }
  to {
    margin-top: 600px;
  }
}

@keyframes show-profile {
  from {
    margin-top: 500px;
  }
  to {
    margin-top: 0;
  }
}